[2017-02-26 19:53] m4b opened #1 "executable name sucks"
`bg` cannot be used without path prefix because of `bg` for job backgrounding in bash/posix.

so we need to choose a better one.  i'm thinking two letters (lets jump on the grep shortname bandwagon renaissance we're in the middle of).

Some candidates:

1. od (ObjDump)
2. ng (biNGrep)
3. ig (bInGrep)
4. bd (BinDump)

Or also any other name :P

[2017-02-28 07:40] m4b opened #2 "make program header printing more pretty"
There's lots of room for improvement:

1 we could do some cool unicode block char tree printing for each phdr
2. color code the types better
3. remove the extra field names
4. add a header with the field names to remove redundant information
5. do better alignment with field columns
6. add second indented line (like `objdump`) with the flags and alignment, since its less important

[2017-06-05 14:19] IWriteThings commented on #1
I would like to recommend 'bing' (binGrep) for no other reason than the obvious.

[2017-06-06 07:34] m4b commented on #1
This is clearly and obviously the best name currently suggested. Thank you :dancer:

[2017-06-06 07:36] m4b commented on #1
On the other hand, I don't want to awaken the beast of Redmond and have them lock up the bingrep repo in piles of cease and desist orders for years to come... :thinking:

[2017-06-11 01:36] saghm commented on #1
Not sure if it's taboo to ask this, but is there a reason that `bingrep` itself isn't in consideration? I know that shorter names are generally considered more valuable, but I think that a) seven letters isn't *really* that long, especially given tab completion b) users can always make an alias if they find they're needing to save a few keystrokes c) there's a much lower change of collision in nam

[2017-06-11 02:49] ryancnelson commented on #1
"od" has been a Unix program name for literally decades : https://en.m.wikipedia.org/wiki/Od_(Unix)

[2017-06-11 04:05] jdanford commented on #1
Given the problems with various two letter names, what about `bgrep`?

[2017-06-11 04:20] rjtobin commented on #1
As per the Hacker News discussion (https://news.ycombinator.com/item?id=14530054), "less" seems like a better analogy than "grep" (since this utility does not search).

"binless" was suggested over there.

[2017-06-11 04:25] m4b commented on #1
@saghm No worries, there's no taboos here :) I think I'm actually in agreement you; also `bingrep` isn't like `ag` or `rg` or whatever that you use it very frequently.

@ryancnelson lol whoops; so clearly i'm great at selecting names which already exist

@rjtobin hehe I like `binless` too actually, and yes it's more like less I suppose.  Really it's like a colorized objdump

[2017-06-11 04:28] m4b opened #3 "PE/PE+ colorized backend"
Should be easy; can copy paste some of the closure color functions until they're refactored into nicer functions.

As for exact display, can discuss, see what works best

[2017-06-11 04:56] ajithshetty2383 opened #4 "Error on running command"
Hi,

I see below error. Didnt find any solution useful on google to resolve this..

ajith@ashetty:~/Desktop/bingrep-master$ cargo build --release --verbose
    Updating registry `https://github.com/rust-lang/crates.io-index`
    Updating git repository `https://github.com/m4b/goblin`
failed to parse registry's information for: colored

Caused by:
  the given version requirement is invalid

[2017-06-11 04:59] m4b commented on #4
@ajithshetty2383 Thanks for the report!

What `rustc` version are you on?  Also are you using rustup, or distro rustc?

[2017-06-11 05:01] ajithshetty2383 commented on #4
version : rustc 1.7.0 on ubuntu 16.04 distro

[2017-06-11 05:03] m4b commented on #4
Ah, ok, I should post this, it will require rustc version 1.15 iirc.  Have you tried rustup?

http://rustup.rs

You can easily switch compiler versions, get the latest, etc.  a simple `rustup default stable` and then `rustc --version` should show latest stable, which is 1.18

I also emoved the git dependency on the binary parser gobln, but I don't think this was the problem

[2017-06-11 05:58] ajithshetty2383 commented on #4
I'm see 'rustup default stable' running successfully. But it doesn't affect the version..

ajith@ashetty:~/bingrep/bingrep$ rustup default stable
info: using existing install for 'stable-x86_64-unknown-linux-gnu'
info: default toolchain set to 'stable-x86_64-unknown-linux-gnu'

  stable-x86_64-unknown-linux-gnu unchanged - rustc 1.18.0 (03fc9d622 2017-06-06)

ajith@ashetty:~/bingrep/bingrep$ rustc

[2017-06-11 06:03] m4b commented on #4
Ah, you need to add `$(HOME)/.cargo/bin` to your $PATH, and that should set you on your way :)

[2017-06-11 06:20] ajithshetty2383 commented on #4
Oh..yes. silly me. its working. Thank you!
Thanks for the tool too...

[2017-06-11 06:31] m4b commented on #4
NP and have fun :D

[2017-06-11 08:01] liotev commented on #1
The name "bingrep" and the description ("like grep but for binaries") are a bit misleading (this tool is not like grep, in that it does not search for a pattern). The name "binless" would not be precise too, because "less" pages the output, while "bingrep" does not.  May be "bincat" would be best, because it is more like "cat" for binaries.

[2017-06-11 08:20] madnight commented on #1
It seems similar to objdump but with somewhat differing information and with coloring.
https://news.ycombinator.com/item?id=14530054

suggestion: do not name it grep

[2017-06-11 09:18] martinlindhe opened #5 "Publish on crates.io"
In order for "cargo install bingrep" to work

[2017-06-11 10:20] Foorack commented on #1
I agree with that it should not be called grep if it does not work the same way. Bincat sounds good to me. 😀

[2017-06-11 10:28] liotev commented on #1
On second thoughts, the man page for 'cat' says that it 'concatenates files', besides printing them out to the standard output, while 'bingrep' works with one file only. So may be 'bincat' would not be the best name either.

[2017-06-11 10:30] Foorack commented on #1
binanalyze?

[2017-06-11 11:12] madnight commented on #1
bindump
binocular
binge

[2017-06-11 11:17] adarqui commented on #1
If you go the "binary cat" route, I suggest "bat". Then you can have a nice bat (mammal) logo, of a bat in the dark using it's sonar to highlight things in its (binary) environment. Or maybe a bat hanging upside down with special rust goggles on, with "binary cat highlighted output" seen in the reflection. 8|

peace

[2017-06-11 11:36] Rurik commented on #1
binxray
binparse
binocular +1

[2017-06-11 14:13] crisdosaygo commented on #1
`> bless`
`> bmore`
`> bview`
`> bc`
`> bsee`
`> binlens`
`> binl`
`> xray`
`> god` // good octal dump
`> bread`
`> b2`

[2017-06-11 14:27] adarqui commented on #1
^^ binlens is cool.

[2017-06-11 14:34] rafael747 commented on #1
bincat or bcat

[2017-06-11 18:20] m4b commented on #1
`bc` already an executable on unix.

@madnight @dosaygo-coder-0 Ohhh I really like `binocular` and also `binlens`!

I have a suggestion that no one will like: `polykleitos`

Not only is it really long and hard to type, definitely not a unix executable name, but, he was one of the [preeminent athenian sculptors](https://en.wikipedia.org/wiki/Polykleitos).

Why is this relevant you say?

Well - fun

[2017-06-11 18:25] m4b opened #6 "refactor closure colorizers into proper reusable functions"
Functions were literally copy pasted out of ELF colorizer because I'm super lazy and I was too busy to refactor and type out properly.

This way PE backend can use them, and will enforce consistent colorizing scheme, e.g., addresses red, size green, strings yellow, libs blue, headers some color i forgot, etc.

[2017-06-11 18:30] m4b commented on #5
@martinlindhe Hi and thanks :)

Yea definitely need to do this; but first need to settle on name #1

[2017-06-11 20:49] martinlindhe commented on #5
Good point! :)

[2017-06-12 07:58] lilianmoraru opened #7 "bingrep is reported as a lib"
Running bingrep on bingrep, says that it is a lib:
[code]

While unrelated to this issue, I would also like to note that `Soname` prints `Some("lib")` when it is a lib.
Maybe it would be better to match on that value and present the name of the lib directly.

[2017-06-12 08:16] m4b commented on #7
Hi @lilianmoraru thanks for the bug report ! :)

Are you on OSX (and can you paste debug output with `-d`)?

There's a hack in OSX for dylibs, as reexports index 0 (iirc) as a sort of Self, so you have to extend the libraries vector with Self as 0; the soname printing "lib" is a bug probably relating to this hack.

If you're on linux/unix I suspect it prints `is_lib` for self because rust compiles

[2017-06-12 10:10] lilianmoraru commented on #7
@m4b I am on Linux.
I guess you don't need the debug output, because it seems that you know which problem it is.

[2017-06-12 21:22] m4b commented on #7
If your running bingrep on ELF dylib and it's printing Some("lib") for soname then that's def a bug tho :/ can you paste the output here just in case?

[2017-06-13 00:02] lilianmoraru commented on #7
`uname -a`:
[code]

Gist doesn't want to present many lines and GitHub doesn't accept the attachment for some reason...
Uncompressed, 2.0 MB(.txt): https://drive.google.com/open?id=0B36L1TDvAttnMkpOTVJiUFZtNHM
Compressed, 143.7 KB(tar.xz): https://drive.google.com/open?id=0B36L1TDvAttneVV0R3RUWFQ3Z0U

`Soname` is at the line `16059`.

`readelf -h` on the same library:
[code]

[2017-06-13 00:08] lilianmoraru commented on #7
I am thinking now that my `Some("lib")` might be confusing.
By `Some("lib")` I mean `Soname: Some("[the lib name here]")`

[2017-06-13 00:28] nvzqz commented on #1
I'm a fan of both `binocular` and `bincat`

[2017-06-13 01:09] m4b commented on #7
Ohhhhh haha yea I thought it was printing `Some("lib")` :laughing: that would def be a bug! The some printing is also a bug, should be an easy fix, just haven't had time. PRs welcome :)

[2017-06-13 16:46] bgupta commented on #1
what about ss, sstr, sstrings or superstrings

as in https://en.wikipedia.org/wiki/Strings_(Unix) not https://en.wikipedia.org/wiki/Superstring_theory

[2017-06-14 02:46] stuartpb commented on #1
I suggest `binford` (**B**inary **I**n **N**icely **F**ormatted **O**bject **R**ainbow **D**isplay), or maybe just `binf`.

`binocular` is pretty good, too.

[2017-06-14 02:51] m4b commented on #1
Nailed it: `bingrep`: Bingrep Is Not GREP

[2017-06-14 02:52] stuartpb commented on #1
What about `food` (**Fo**rmatted **O**bject **D**ump)?

[2017-06-19 16:09] eagleusb commented on #1
`binlens` is cool ! Finding a logo would be very easy. `binocular` is great too though.

[2017-06-19 18:17] madnight commented on #1
OP could start a survey

[2017-06-19 18:38] sanderjo opened #8 "error[E0523]: found two different crates with name `std` that are not distinguished by differing `-C metadata`. This will result in symbol conflicts between the two."
Trying to build with `cargo build --release` I get:

[code]

Version of rustc:
[code]
This is on Ubuntu 17.04

Full log of CLI:
[code]

[2017-06-19 18:45] sanderjo commented on #8
Related to https://github.com/rust-lang/rust/issues/35636#issue-170987220 ?

Three-line rust source file:
[code]
Building results in the same(?) error message:
[code]

So assuming this is valid Rust code (I don't know), the problem is in the rust version on my Ubuntu?

[2017-06-19 19:10] sanderjo commented on #8
Update:

Short: I got it working with the current Rust version 1.18.0

Long:

I removed Ubuntu's cargo, and did an install from the website:

[code]
Version:
[code]

And now the build is OK:
[code]
... and bingrep is working. Cool!

[2017-06-19 19:10] #8 closed

[2017-06-21 18:38] dankm opened #9 "Copyright notice missing"
Neat and useful project! But its licensing information is unclear, is this meant to be GPL? MIT? Apache?

It's up to you; it's your project. But if you want others to use or contribute this should be addressed.

[2017-06-21 18:38] dankm commented on #5
I think this is also blocked by #9.

[2017-06-21 19:09] m4b commented on #9
Ewwwww sorry this should have been MIT, must have forgot to init with license, will upload asap, thank you @dankm for bringing this to my attention!

[2017-06-22 05:46] #9 closed

[2017-06-22 05:48] m4b commented on #4
I believe this is resolved, thanks for the issue :)

[2017-06-22 05:48] #4 closed

[2017-06-23 06:42] #6 closed

[2017-07-09 20:14] m4b commented on #1
Thanks for everyone's input :)

I'm going to keep the name as `bingrep` for now.  I'm doing this for a number of reasons, mostly:

1. this will just sit here unresolved unless i make a decision
2. it will be confusing for users to build `bingrep` but have a different name
3. this is one of the hardest problems in CS ;)

We can always retcon the name by adding search functionality; specifically, I

[2017-07-09 20:20] m4b opened #10 "add search string"
re #1:

I'd like to do:

[code]

which will return any matches for the function in the various "sections" of the binary, e.g., in the dynamic symbol table, the strippable symbol table, the string table, etc.

[2017-07-09 20:31] #5 closed

[2017-07-09 21:18] est31 opened #11 "Support demangling of rust symbols"
`_ZN4core3ptr13drop_in_place17h86fdc7b11166c663E` is not nice to read. Could bingrep demangle it?

[2017-07-09 21:25] m4b commented on #11
@est31 Yes, someone just simply needs to add rustc_demangle to the dependencies; see https://github.com/m4b/cargo-sym for an example of this, e.g.: https://github.com//m4b/cargo-sym/blob/9622ffb7217d565b03bf90cba19df3bc781c8b0f/src/symbol.rs#L19

I believe simply adding it here would resolve the issue: https://github.com//m4b/bingrep/blob/21adcb69fbe6957fa4d2495d9027f6881a6cde54/src/main.rs#L57

B

[2017-07-09 23:59] #11 closed

[2017-07-10 11:52] hawkw commented on #1
"Obvious solution" to the "Bingrep is not GREP" problem: keep the name, but it's pronounced "bing-rep". ;)

[2017-07-10 15:17] madnight commented on #1
okay i think we have to accept that name ... but as general advise, never irgnore the community, this is your top 1 issue in respect to subscribers and you decided to do nothing .. fair enough, but keep in mind that doing nothing on high prio issues is one of the worst choices in many cases (not in all : )

[2017-07-15 06:28] m4b opened #13 "survey: binary search string results + api + usecases"
# Prolegomena

Hullo!

So I've begun adding search functionality, and I already find it very useful.  In particular, this is a usecase I find myself having:

1. I want to search a binary for a string; this string could be a symbol I'm looking for, or an actual string in the binary, or it could be an import, or it could be referenced by a relocation.
2. I want the search results to display these ma

[2017-07-15 22:43] syreal17 commented on #1
Bingrep Is Not GREP _is_ a name change. Just awkward if you actually give it GREP-like qualities later. (Which it would be sweet if it had some of the power of YARA, like searching for hex values with wild cards e.g. "45 60 ?? AF")

[2017-07-15 23:04] m4b commented on #1
@syreal17 I'm adding search features now. See  #13

Would love your feedback over there

[2017-07-17 21:20] syreal17 commented on #13
I think showing the offset of the string by section is a nice feature and sets it apart from `strings | grep` commands.

I'd also like to see searching executable code via hex strings (not any disassembly, that's probably beyond the scope of this project) with wild cards like `bingrep <binary> -s "AA ?? CC"` matches AA 11 CC, AA BB CC, etc.

Just a thought for what could make bingrep even more use

[2017-07-31 03:02] m4b commented on #2
This is done

[2017-07-31 03:02] #2 closed

[2017-08-08 06:15] m4b opened #14 "osx symbols are not demangled"
E.g.:

`__ZN4core5slice89_$LT$impl$u20$core..iter..traits..IntoIterator$u20$for$u20$$RF$$u27$a$u20$$u5b$T$u5d$$GT$9into_iter17h450e234d27262170E`

->

`core::slice::<impl core::iter::traits::IntoIterator for &'a [T]>::into_iter::h450e234d27262170`

[2017-08-12 20:42] #14 closed

[2017-11-08 07:01] m4b commented on #7
This is actually fixed now, not sure which version, but latest (0.4.1) no longer prints `Some("libc.so.6")` and just instead prints `libc.so.6`, etc.

[2017-11-08 07:01] #7 closed

[2017-11-08 07:03] m4b commented on #3
Printer functions are all refactored and reusable; if anyone is watching and wants to give this a shot, I will definitely give any tips about how to do this, answer any questions, etc, but I don't have time to personally start on this this right now.

[2017-11-08 07:06] m4b opened #15 "mach: load command info"
Load commands could use some love when it comes to printing their content.

Should be very straighforward, e.g. this is output currently:

[code]

Would be nice to either summarize the important data in the load command (the version, the uuid, etc.) _or_ just fully print the values of each (more noisy).

I'll pretty much merge anything that does this in a reasonable manner

[2017-12-15 07:36] HongxuChen opened #16 "pager issue"
When using pager like `less` or `more`, bingrep works. However *sometimes* when it quits, it will panic. Here is a result when using bingrep with `rustc` with pager `more`.

Observations:
1. This seems to happen for some binaries, e.g., there is no such a panic for `/bin/ls` on my machine.
1. Other pager, e.g., `view` (from nvim) works fine when used like `bingrep /path/to/target | view -` however

[2017-12-15 07:44] m4b commented on #16
Yea I don’t know; this seems to be the case with every rust binary binary piping to stdout I’ve used. Eg I’ve seen cargo do this.

I never bothered to look too deeply into it.

I’m welcome to anyone knowing the answer here though, and perhaps a quick fix to solve this for bingrep :)

[2017-12-15 08:34] hongxuchen commented on #16
Really weird, some other binaries are also affected. For example, `bash`/`zsh`, `clang` (but not `gcc`).

[2017-12-15 09:37] m4b commented on #16
If you find the cause you’ll be my hero :D

[2017-12-22 07:33] Inndy opened #17 "Mach-O universal binary are always reported not a 64bit binary file"
Mach-O universal binary are always reported `is_64: false`

[code]

[2017-12-23 22:20] m4b commented on #17
Hi @Inndy thanks for the report!

So for fat binaries, the approach that bingrep takes is to print _every_ binary in the container.

In this case, your tail is seeing the 32-bit libc++, so it (correctly) reports is_64 as false.  You can verify this by using less and searching for `"is_64: true"`

If you have any suggestions on ways to make this clearer/more ergonomic, I'm all ears.

I've also cons

[2017-12-24 07:13] Inndy commented on #17
I have confirmed that. Thanks for your reply and great work!

[2017-12-24 07:13] #17 closed

[2018-02-08 09:06] HongxuChen opened #18 "inconsistent results from ldd for library dependencies"
I compiled the following source code on Linux with gcc.

[code]
[code]

`ldd a.out` gives

[code]

But bingrep tells only
[code]

While I can understand libraries like `linux-vdso.so.1` can be omitted, I think `libpthread.so.0` should at least (only sure about ` libm.so.6` and others) exist in the dependence list.

[2018-02-08 21:31] m4b commented on #18
ldd prints every loaded dynamic library, which includes every deps libs, etc.

Eg it flattens the dynamic library tree.

Your c program only depends on libc, and I guess your gcc install also adds libasan for you.

Try compiling with:

[code]

And you should see the new libraries explicitly burned into the immediate deps of test

[2018-02-09 02:12] hongxuchen commented on #18
@m4b but when even deliberately adding `-lpthread -lm` does not change the output of bingrep for me.
I guess you are right as to `ldd`'s flatten behavior though.

[2018-02-09 02:29] m4b commented on #18
Yea whether gcc will add the libraries if you dont use a function from them probably depends on gcc version etc.

[2018-02-09 02:30] #18 closed

[2018-03-15 14:03] ghuls commented on #13
What would be nice, is if the search option also displays the context around a match.
This would be useful for finding spe
 (e.g. full displayable string for the search string:

Searching for "chr" would show 'strrchr' and 'strchr' as match:
[code]

In case of grepping for a word in a long string, it would be useful to get the full line of text.
[code]

I had a usecase for the context displaying s

[2018-04-14 18:03] m4b commented on #13
Hi @ghuls, sorry for the delay ! I like your idea, using regexp crate, for better searching. Unfortunately I won’t have the time to implement this, but if you felt inclined to submit a PR implementing this functionality I would be very likely to merge.

[2018-08-12 02:52] matthiaskrgr opened #19 "crashes running on itself"
[code]
repo is at 41a73a85920aa0c37846c6d7e5c391c292de1731

[code]
crashes:
[code]

[2018-08-12 04:09] m4b commented on #19
Hi @matthiaskrgr thanks for the bug report ! I’ll investigate this. Looks like something wrong with strtab in elf format. The backtrack helps tremendously, thanks for posting it!

[2018-10-14 14:35] valpackett commented on #19
I'm seeing the same error with various binaries e.g. ones produced by GHC on FreeBSD

[2018-10-14 19:22] m4b commented on #19
I have a patch updating bingrep to latest goblin (among other things); will try to repro this. @myfreeweb can you attach a binary if you have spare time?

[2018-10-14 19:24] m4b commented on #19
Are either of you using LLD by any chance? I think some bsd's have switched entirely to lld, wondering if freebsd is one of them? I ask because lld will emit some elf files that are slightly unorthodox (but still valid), and this can cause issues in the bias computation, see here: https://github.com/m4b/goblin/issues/106

and this PR which hopefully makes the dynsym length calculation more robust:

[2018-10-14 19:37] valpackett commented on #19
Yes, I'm indeed on FreeBSD -CURRENT which uses lld as the default linker :)

[2018-10-14 19:43] m4b commented on #19
@myfreeweb if you don't mind, would you mind testing this branch? https://github.com/m4b/bingrep/tree/update_goblin

it should compile out of box, then try `cargo run -- <path to ghc binary>` or `cargo run -- target/debug/bingrep`

[2018-10-14 19:43] m4b commented on #19
If it still breaks, I'll need a binary exhibiting the  behavior that crashes bingrep

[2018-10-14 20:06] valpackett commented on #19
That branch works great, thanks!

[2018-10-14 20:09] m4b commented on #19
Awesome! I'll work on a new release (though I am still seeing infintie loops on note parsing, which is annoying and I don't feel like dealing with it, heh)

[2018-10-14 21:01] #19 closed

[2018-10-14 21:05] m4b commented on #19
mokay, version 0.6 is published; please reopen if any other related issues :)

[2019-04-24 01:57] zhuowei opened #21 "Bingrep also doesn't support ELF objects with many sections"
bingrep 0.6.2 doesn't handle ELF files with many sections.

(This is a follow up on https://github.com/m4b/faerie/issues/76)

To reproduce:

[code]

Readelf correctly handles the extra sections:

[code]

[2019-04-25 06:41] m4b commented on #21
This is a bug in goblin, there's a fix (in above commit), need to eventually publish and update this repo to get the upstream fixes

[2019-04-25 06:43] zhuowei commented on #21
@m4b Thank you so much!

[2019-09-15 06:52] mgorny opened #22 "Linking memrange (via metagoblin) causes GPL license violation"
Disclaimer: IANAL. I'm trying my best to be correct but I may be wrong.

FWICS this package depends on metagoblin and theban_interval_tree, both of which in turn depend on memrange. Since memrange is GPL-3, it effectively requires any derivative work to be licensed GPL-3 as well. theban_interval_tree seems to try to do that. However, both metagoblin and bingrep specify only the MIT license.

if yo

[2019-09-15 17:58] m4b commented on #22
Hey thanks for the feedback ! I really don’t know either, but this would be news to me (relicensing to gpl because a dep is gpl).

Afaik, I must only redistribute the source of the gpl dep if i modify it (which I don’t), but again I could be totally wrong.

Probably the easiest thing is to remove the theban interval dep in metagoblin (theban interval has got some broken issues that were never fixe

[2019-09-16 16:44] mgorny commented on #22
See e.g.: https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)

(highlight mine)

Yes, removing use of both deps sounds fine. I'm not sure what you mean by me being interested though. I'm merely on Gentoo's QA team and I'm helping our people with license problems lately. I don't have any stake in this particular package.

[2019-09-16 17:11] m4b commented on #22
I just meant would you be interested in helping remove the deps, that’s all :) sounds like not.

I can take a look at this but I really don’t have a lot of time. Maybe some virtuous soul could come help ?

[2019-10-09 12:57] bjorn3 opened #23 "Disassemble support"
For example [capstone](https://docs.rs/capstone) could be used.

[2019-11-11 09:54] xu-cheng opened #24 "Create git tag for releases"
I'd like to package this tool in Homebrew. However, like many other package managers, a tag release is required. As such, the source code for each versions can be downloaded through some url.

I noticed there are version bumps in `Cargo.toml`, so all you need to do is to create git tag (or even better creating Github Release).

Thanks.

[2019-11-11 16:24] m4b commented on #24
Cool! I’ll try to get to this tonight; if you don’t hear from me, feel free to aggressively ping me :)

I just need to push tags right?

`git push —tags`

And I’ll just google about how to do github release; thanks for the issue !

[2019-11-11 17:08] bjorn3 commented on #24
You can go to https://github.com/m4b/bingrep/releases and click on the create new release button to create a new gh release and at the same time the associated label. You can paste the commit hash as target.

[2019-11-12 15:47] xu-cheng commented on #24
Yes, you can tag the commit using `git tag <tag-name> <commit>` then `git push --tags` to push them.

Alternatively, you can use Github UI at https://github.com/m4b/bingrep/releases.

[2019-11-13 16:34] m4b commented on #24
Ok I pushed 0.8.1 and it’s showing up on the releases page; so I have to do anything else here ?

And thanks for packaging it up ! :)

[2019-11-13 16:51] xu-cheng commented on #24
Thanks. I have submit a PR to homebrew to package this tool: https://github.com/Homebrew/homebrew-core/pull/46712/

[2019-11-13 16:51] #24 closed

[2019-11-14 06:06] m4b commented on #23
@bjorn3 If you want to sketch out general api for what the cli would be for disassembly, I’d be interested.

Maybe just a few brief examples of proposed cli, along with expected output ?

[2019-11-14 06:07] m4b commented on #21
I believe this should be fixed with latest bingrep @zhuowei would you mind verifying whenever you get a chance ? Or if not let me know and I’ll see if I can check and close :)

[2019-11-14 06:09] m4b commented on #16
So this is caused by writing to a closed pipe, which is common with piping to head and less.

We can fix this by taking stdio lock and try printing into it.

Will be complicated due to the various writers involved, eg pretty table and term color, but I think it should be fixable.

If anyone wants to give this a shot, let me know !

[2019-11-14 09:41] xu-cheng commented on #24
FYI, the package has been accepted. bingrep can now be installed through `brew install bingrep` on macOS.

[2019-11-14 16:12] m4b commented on #24
Great thanks for your work in making that happen !

[2020-01-26 20:13] m4b commented on #21
I'm pretty sure this is fixed now, so closing; please reopen if not :)

[2020-01-26 20:13] #21 closed

[2020-02-06 19:01] mathomp4 opened #26 "How to correctly page bingrep output with color?"
I just recently discovered bingrep and think it's quite cool. But, in my haste, I decided to try and `bingrep ~/.cargo/bin/rg` and found it spit out 35000 lines of very nice colorful output. So then tried `bingrep ~/.cargo/bin/rg | less` and...aww, no color.

But `bingrep -h` tells me about the `--color` option and, yay, color...but also a lot of `^O` characters everywhere.

So, I'm just wondering

[2020-02-07 01:46] m4b commented on #26
Hi! Yea so less has an option like —color (or something like that don’t recall right now); This should force interpretation of ANSI escape codes (which I assume is what you’re seeing if you’re seeing ^ in the pager)

Let me know if that works for you!

[2020-02-07 01:48] m4b commented on #26
I believe there is a bug I’ve seen paging bingrep output on MacOS (I think), where some parts are uncolored. I believe this was due to the pretty column library turning off color or something, but can’t remember.

That can also be worked around by outputting and forcing color into a file then paging that, iirc

[2020-08-24 23:31] AbeOwitz commented on #1
binspec

[2020-10-13 21:13] danielzgtg commented on #26
Reverse engineering `bat` using `ps -ef`, I came up with this solution:

[code]

I used it and the output was colourful

[2020-12-08 19:53] danielzgtg opened #28 "Doesn't work on /bin/busybox"
`bingrep` errors out on `/bin/busybox` with the following message:

[code]

<details>
<summary>Environment</summary>

Built at c3516e728db6c16003431f0f60bbd69a4ba94ed.

`readelf /bin/busybox` works fine.

[code]

[code]

[code]

[code]

</details>

[2020-12-09 03:33] m4b commented on #28
thanks for the issue! it looks like 6495cfee9ce7219e4fe1dde5953a2c73b01a8382 in goblin (https://github.com/m4b/goblin/pull/243) introduced this issue.
something like this should fix it:
[code]

though it still has a regression compared to 0.2.0 that can succesfully parse out some of the shdr relocs

[2021-01-10 19:52] carlocab opened #29 "Outdated Cargo.lock file?"
bingrep is currently failing to build for Homebrew with Rust 1.49 on Apple Silicon: https://github.com/Homebrew/homebrew-core/pull/68089

It appears this is due to a stale lock file, causing `cargo install --locked` to pull in dependencies that do not work for bingrep on Apple Silicon. Is it possible for the `Cargo.lock` file to be updated? If this could be done with a new release, that would be e

[2021-01-11 01:05] m4b commented on #29
What is the specific error exactly ? Anyway I updated lock file, let me know if there are any other issues !

[2021-01-11 01:12] carlocab commented on #29
I didn't get the chance to look at the specific error message, unfortunately, as I was also looking at about a hundred other packages that use Rust to build.

All I know is that `bingrep` fails to build with `cargo install --locked`, but does not fail when the `--locked` flag was dropped. It's a very crude test, but it's proved to be correct a number of times already.

Yes, I see you've updated th

[2021-01-11 01:28] m4b commented on #29
ok i tagged it 0.8.4

[2021-01-11 01:38] carlocab commented on #29
Great! It builds on Apple M1 now: https://github.com/Homebrew/homebrew-core/pull/68743/checks?check_run_id=1678656566

Thanks so much; you've been very helpful.

[2021-01-11 01:38] #29 closed

[2021-01-18 11:03] jan-auer commented on #28
@m4b your patch would suppress the error but also prevent parsing the relocation entry. I believe, that the section size check is wrong for relocation entries. m4b/goblin#243 added effectively checks for `sh_addr + sh_size <= file_size`:

[code]

I believe that comparing the virtual memory range with the physical file size is not valid in this context, and the correct patch would be:

[code]

[2021-01-19 01:20] m4b commented on #28
Confirmed your patch fixes, and latest goblin is released, and bingrep updated to use it with lockfile; also tagged new release :) thanks for everyone's help and involvement here, including the bug report! :D

[2021-01-19 01:20] #28 closed

[2021-08-09 12:42] p870613 opened #30 "memory allocation of 18446744073709551610 bytes failed[1]"
HI !
I found a  `memory allocation of 18446744073709551610 bytes failed` in the current master e232665
POC :  [poc.zip](https://github.com/m4b/bingrep/files/6954584/poc.zip)
[code]

[2022-01-24 05:32] p870613 commented on #30
Assigned CVE-2021-39480.

[2022-01-24 05:37] m4b commented on #30
Hello there! thanks for filing, let me see if this is fixed in later goblins, there was some checks done semi recently for sizes being required to be less than size of the binary being analyzed (which I believe is only practical solution to a section claiming it requires X amount of bytes)

[2022-01-24 05:42] m4b commented on #30
Ok looks like 0.9.0 doesn't have a bad memory allocation for your POC (it does unfortunately, have an absolutely atrocious error message :sweat_smile:):

[code]

for reference here is previous output of 0.8.5:
[code]

the output is nice(r), the core dump however is not :)

[2022-02-02 05:47] koutheir commented on #3
Hi @m4b, this is my first attempt at fixing this issue: [bingrep.zip](https://github.com/m4b/bingrep/files/7983872/bingrep.zip). Can you tell me what you think of it? If you deem it reasonable, then I can create a pull request.

[2022-02-02 06:11] m4b commented on #3
This is awesome, pull request would be great! The output looks nice and clean; just fyi though, if we do merge it, I'll probably forward bugs to you since you would be the primary author of that component :)

[2022-02-02 14:05] koutheir commented on #3
I'll do that soon.

That is okay, at least in the near future.

[2022-02-06 02:11] #3 closed

[2022-02-06 19:19] koutheir opened #33 "Potential bug with ELF binaries"
In [src/format_elf.rs:286](https://github.com/m4b/bingrep/blob/9e84be52eec8fd9c2be3b3d939a80cde75e2fdb6/src/format_elf.rs#L286), the condition expression `shflags & flag == flag` seems wrong:

[code]

The condition **always** evaluates to true. This change was introduced by [commit #34c38277abe8305a9070d9a05e9d8ddfe354521d](https://github.com/m4b/bingrep/commit/34c38277abe8305a9070d9a05e9d8ddfe354

[2022-02-06 23:56] bjorn3 commented on #33
Are you sure it always evaluates to true. To me it looks like it only evaluates to true if the specific flag is set.

[2022-02-07 00:12] koutheir commented on #33
You're right. The operator `&` has a stronger precedence than `==`.

[2022-02-07 00:12] #33 closed

[2022-02-08 03:38] p870613 commented on #30
That's good.

Thanks !!!

[2022-02-08 03:38] #30 closed

[2022-03-16 16:21] koutheir commented on #16
I see two solutions for this. The first would be to fix [prettytable-rs](https://crates.io/crates/prettytable-rs) crate which panics on I/O errors, even though I/O errors are fairly common. The second is to wrap all calls to `TableSlice::print_tty()` inside `catch_unwind()` and hope that the only cause of panic is an I/O error...

[2022-03-16 16:24] koutheir commented on #16
Given [this issue](https://github.com/rustsec/advisory-db/issues/1173), I don't think we can fix the library for the moment. The next best thing I see is to catch those panics. Another solution would be to fork the library and continue maintaining it.

[2022-03-16 17:03] bjorn3 commented on #16
You can use `TableSlice::print(&mut std::io::stdout())` or `TableSlice::print_term(&mut term::stdout())` (depending on if stdout is a tty) and ignore the result I think. Basically copy the `print_tty()` function and remove the panic.

[2022-03-16 17:51] koutheir commented on #16
Programs usually don't check the return value of `printf()` and related output functions, so that `EPIPE` errors don't actually print anything, and that makes the output of `head`, `more` and the likes reasonable. A more honest output, *that still doesn't panic*, would be like this:
[code]

I think, for ergonomic reasons, we should not display the `Broken pipe (os error 32)`, but instead just exit

[2022-03-16 18:00] bjorn3 commented on #16
SIGPIPE by default causes the program to exit even if the program doesn't check the return value of `printf()`. Libstd overrides the signal handler to do nothing and instead allow reading and writing to result in an error. `println!()` and prettytable both decided to panic when an error happens as otherwise the program would silently try to keep running.

[2022-03-16 18:09] koutheir commented on #16
So should I filter out the `Broken pipe (os error 32)` error? Or keep reproting it?

[2022-03-16 18:12] bjorn3 commented on #16
Filtering it would be fine I think.

[2022-03-21 00:43] #16 closed

[2022-03-21 00:54] m4b commented on #26
closing this, the answer should be:

[code]

let me know if you have issues with this; also closing less should now no longer result in panic, thanks to @koutheir recent patch

[2022-03-21 00:54] #26 closed

[2022-03-21 03:07] koutheir commented on #23
[LLVM disassembler](https://llvm.org/doxygen/group__LLVMCDisassembler.html) is also an option here, instead of (or as an alternative to) capstone.

[2022-03-21 10:54] bjorn3 commented on #23
That requires an LLVM installation when building and running.

[2022-03-21 12:26] koutheir commented on #23
That only requires LLVM shared libraries, not a full Clang toolchain. It's basically the same requirement as for `libcapstone`.

[2022-03-21 12:56] bjorn3 commented on #23
Capstone-rs builds libcapstone.a as static library itself without having to install anything. This only takes like a minute. The LLVM shared libraries take much longer to build (just cloning llvm-project can take a minute depending on your internet connection), are way bigger and if you don't want to build it yourself you have to dynamically link it which adds a runtime dependency on LLVM unlike w

[2022-07-28 14:29] bjorn3 opened #36 "Doesn't work on COFF object files"
It gives `Unknown magic: 0x68664`. It works fine on PE executable files.

[2022-07-30 04:31] m4b commented on #36
@koutheir would you have any insight on this, being the resident bingrep PE/COFF expert :D

[2022-07-31 22:58] koutheir commented on #36
Can you please provide instructions on how to produce such a file?

[2022-07-31 23:07] m4b commented on #36
@bjorn3 ^^^ if you could paste a file which exhibits this here, much appreciated!

[2022-08-01 15:05] bjorn3 commented on #36
Full reproducer:

[code]

For completeness sake a reproducing file: [bingrep_coff.o.zip](https://github.com/m4b/bingrep/files/9234936/bingrep_coff.o.zip)

[2022-08-24 11:49] koutheir commented on #36
This is failure of [`goblin::peek()`](https://docs.rs/goblin/latest/goblin/fn.peek.html) inside [bingrep::run()](https://github.com/m4b/bingrep/blob/a90ec92de2a94793042a5cd055be98240a9d4f4e/src/main.rs#L80). This issue needs to be fixed in [`goblin`](https://github.com/m4b/goblin), whose `peek()` function doesn't seem to support this COFF format.

[2022-09-03 00:18] koutheir commented on #36
@bjorn3, can you please try out the behavior of this tool modified in [my fork](https://github.com/koutheir/bingrep) in order to test [my PR](https://github.com/m4b/bingrep/pull/37)?

[2022-09-03 11:42] bjorn3 commented on #36
It works. Thanks!

[2022-09-07 21:06] #36 closed

[2022-09-12 03:46] m4b opened #38 "remove memrange"
We should remove memrange coming in via metagoblin, since it pulls in rustc-serialize which has a vulnerability apparently; I haven't look at good alternatives, but posting this issue here so don't forget. it should be a fairly easy task, I think i used it originally only for a few functions

[2022-09-12 03:56] m4b commented on #38
Digging at this a bit more, the only reason we use memrange is theban_interval_tree forces this type, so we could switch goblin to:

https://docs.rs/unbounded-interval-tree/latest/unbounded_interval_tree/interval_tree/struct.IntervalTree.html

These are the use sites of the interval trees metagoblin returns in Analysis:

[code]

(memranges field in Analysis is not used)

I would have to do another

[2022-09-12 05:24] m4b commented on #22
memrange is removed in metagoblin, along with interval tree crate (we didn't really use any interval tree logic anyway)

[2022-09-12 05:24] #22 closed

[2022-09-12 05:24] m4b commented on #38
this is done as of metagoblin 0.7

[2022-09-12 05:24] #38 closed

[2022-09-12 05:25] m4b commented on #38
(we don't use any interval logic anyway, just collect all ranges as `Vec<(Range, MetaData)>` and let user do what they want with it anyway

[2022-10-04 03:16] koutheir commented on #23
FYI, disassembling code correctly requires support for relocating code sections (e.g., ELF's `.text` section), before starting the disassembly. Relocation is a considerable amount of work.

[2022-10-04 08:50] bjorn3 commented on #23
Objdump doesn't relocate. Instead it provides an option to show relocation entries after the instruction that used them.

[2022-10-04 12:16] koutheir commented on #23
But that makes the disassembly way less useful and sometimes even confusing, especially when compared to the disassembly of the debugger.

[2022-10-04 12:28] bjorn3 commented on #23
It only makes it a bit less useful IMHO. It is nice to have relocation support builtin, but as you said this is a considerable amount of effort. What you see in a debugger won't work for bingrep. In a debugger you see the disassembly relocated for the specific location that this instance of the program loads it at. Bingrep however would need to work with symbolic locations such that the disassembl

[2022-10-10 03:04] koutheir commented on #23
Providing a useful ELF disassembly also requires parsing the procedure linkage table (PLT), in order to give an idea about which function is called by many calls/jumps. PLTs are platform-specific, and parsing them requires some poking and assumptions about code sequences generated by common compilers and linkers.

For this reason, for instance, the LLVM implementation of `objdump` only parses PLTs